.App {
  background-color: #fdfdfd;
  font-family: cursive;
  margin: 1rem;
  border: 0.5px solid black;
  border-radius: 10px;
}

.navbar {
  background-color: #e1e1e1;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.navbar-brand {
  color: #222;
}

.search-form input, button{
  border: 1px solid #ddd;
}

.movie-list {
  display: table;
  border-collapse: collapse;
}

.movie-list-entry {
  display: table-row;
  background-color: #f1f1f1;
  border: 1px solid #ddd;
  line-height: 3rem;
  font-weight: 100;
}

.movie-name{
  margin-left: 1rem;
}




